body{
    background-image: url('./1626993877_25-kartinkin-com-p-krasivii-fon-na-zadnii-plan-krasivo-25.jpg');
}

.historysecondpage{
    text-align: center;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-style: italic;
}
.upperdiv {
    font-size: 7rem;
    background-image: url('./ulala.jpg');
    text-align: center;
    line-height:normal;
    margin: 0;
    padding: 0; 
}


.mainpage {
    color: rgb(125, 87, 230);
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 3.5rem;
    vertical-align: middle;
     
}
.historysecondpagep{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.tablez{
    text-align: center;
    color:black;
}
.table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(252, 16, 232);
}
td{
    text-align: center;
}

.mainpage:hover{
    color:gold
}
.structure {
    color: rgb(134, 131, 143);
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 3.5rem;
    vertical-align: middle;
    

}
.structure:hover{
    color:gold
}
.culture {
    color: rgb(125, 87, 230);
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 3.5rem;
    vertical-align: middle;
}
.culture:hover{
    color: gold;
}
.relations{
    color: rgb(125, 87, 230);
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: 3.5rem;
    vertical-align: middle;
}
.relations:hover{
    color:gold
}